@media only screen and (max-width:950px) {

	.fp-header__play {
		display: none;
	}

	.main-nav-list {
		padding-right: 50px;
	}

	.post__content--video {
		margin-bottom: 50px;
		height: 150px;
	}

}
@media only screen and (max-width:800px) {
	.main-nav-list {
		padding-right: 30px;
	}

	.fp-header-text__headline {
		max-width: 50%;
	}

	.fp-header-text__description {
		max-width: 60%;
	}

	.prices__content .top-section, .prices__content .bottom-section {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.post__content--video {
		margin-bottom: 18px;
	}
}


@media only screen and (max-width:700px) {
	.language {
		position: absolute;
		top: 20px;
		right: 20px;
	}

	.fp-header__content {
		padding-top: 90px;
	}

	.main-logo {
		position: absolute;
		top: 20px;
		left: 20px;
		img {
			height: 40px;
		}
	}

	.main-nav-list {
		position: absolute;
		top: 60px;
		left: 0;
		padding-top: 10px;
		padding-right: 0;
		padding-bottom: 10px;
		width: 100%;
		border-top: 1px solid $light-gray;
		border-bottom: 1px solid $light-gray;
		text-align: center;
	}

	.main-nav-list__item {
		font-size: $mobile-font-size-medium;
	}

	.nav-list-item {
		padding-right: 5%;
		padding-left: 5%;
	}

	.header-wrap {
		padding-left: 50px;
	}

}


@media only screen and (max-width:650px) {

	.fp-header {
		min-height: 0;
		background: rgb(244, 244, 244);

		&__content {
			padding-top: 100px;
		}
	}

	.fp-header-text__headline {
		max-width: 100%;
		text-align: center;
	}

	.fp-header-text .headline-underline {
		display: block;
		margin: auto;
		text-align: center;
	}

	.fp-header-text__description {
		max-width: 100%;
		text-align: center;
	}

	.fp-header-text .fp-header-text-btn {
		left: 50%;
		margin-top: 10px;
		-webkit-transform: translateX(-50%);

		-o-tranform: translateX(-50%);
		-ms-trasform: translateX(-50%);
		transfosm: translateX(-50%);
		-ms-trassform: translateX(-50%);
	}

	.header-wrap {
		padding-left: 0px;
	}

	.section-header {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.prices__content {
		.left-block,
		.right-block {
			display: block;
			margin-right: 0;
			width: auto;
		}

		.right-block {
			padding-left: 0;
		}

		.left-block {
			padding-right: 0;
		}

		.feature-content {
			padding-left: 80px;

			&__list,
			&__prelist,
			&__description {
				padding-right: 30px;
			}
		}

		.top-section:after,
		.bottom-section:after {
			background-image: none;
		}
	}

	.feature-more.feature-more {
		position: absolute;
		left: -9999px !important;
	}

	.feadback__load-more {
		display: none;
	}

	.post {
		display: block;
		width: 100%;

		&__content--text {
			text-align: center;
		}

		&__content--video {
			margin-bottom: 0;
		}

		&__author {
			padding-top: 5px;
		}

		.author {
			text-align: center;

			&__avatar {
				display: inline-block;
			}
		}
	}

	.form-section {
		display: block;
		padding-right: 20px;
		padding-left: 20px;
		width: 100%;

		&.message {
			padding-top: 20px;
		}
	}

	.message__text {
		min-height: 150px;
	}
}

@media only screen and (max-width:400px) {
	.main-nav-list__item {
		font-size: $mobile-font-size-small;
	}
	.nav-list-item {
		padding-right: 3%;
		padding-left: 3%;
	}
}


// Buttons & Icons
//----------------

@media only screen and (max-width:800px) {
	.btn {
		border-width: $button-border-width-mobile;

		&--main {
			min-width: $button-min-width-mobile;
			height: $button-height-mobile;
			border-radius: $button-height-mobile / 2;
			line-height: $button-height-mobile - $button-border-width-mobile * 2;
		}

		&--small {
			min-width: $button-min-width-mobile / 1.35;
			height: $button-height-mobile / 1.15;
			line-height: $button-height-mobile / 1.15 - $button-border-width-mobile * 2;
		}

		&--more {
			width: $button-min-width-mobile;
			height: $button-height-mobile;
			border-radius: $button-height-mobile / 2;line-height: $button-height-mobile / 1.2 - $button-border-width-mobile * 2;

			&:before {
				margin-right: 10px;
				width: 24px;
				height: 24px;
			}
		}
	}

	.ico {
		width: $ico-diameter-mobile;
		height: $ico-diameter-mobile;
	}
}
