.btn {
	position: relative;
	display: inline-block;
	outline: 0;
	border: $button-border-width $button-fill $button-color;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	transition: all $button-transition-time $button-transition-easing;

	&:active {
		box-shadow: inset 0 0 10px $xdark-gray;
		transition: all 0.1s $button-transition-easing;
	}

	&--main {
		min-width: $button-min-width-tablet;
		height: $button-height-tablet;
		border-radius: $button-height-tablet / 2;
		background-color: $button-color;
		color: $button-color-alt;
		text-transform: uppercase;
		font-size: $tablet-font-size-xxsmall;
		font-family: $font-bol;
		line-height: $button-height-tablet - $button-border-width * 2;
		@media only screen and (max-width:800px) {
			font-size: $mobile-font-size-xxsmall;
		}

		&:hover {
			background-color: $white;
			color: $button-color;
		}
	}

	&--small {
		min-width: $button-min-width-tablet / 1.35;
		height: $button-height-tablet / 1.15;
		line-height: $button-height-tablet / 1.15 - $button-border-width * 2;
	}

	&--play-main {
		width: 100%;
		height: 100%;
		border-width: 1px;
		border-color: $white;
		border-radius: 50%;
		background-color: $white;

		&:after {
			padding-top: 2%;
			padding-left: 10%;
			color: $theme-color;
			content: '\e906';
			font-size: 2em;
			font-family: icomoon;

			@extend %cam;
			@media only screen and (max-width:800px) {
				font-size: 2em / $mobile-font-coefficient;
			}
		}

		&:hover {
			border-color: $theme-color;
			background-color: lighten($theme-color, 55);
		}
	}

	&--play-alt {
		width: 100%;
		height: 100%;
		border-width: 1px;
		border-color: $white;
		border-radius: 50%;
		background-color: $white;

		&:after {
			padding-top: 3%;
			padding-left: 5%;
			color: $xdark-gray;
			content: '\e907';
			font-size: 1em;
			font-family: icomoon;

			@extend %cam;
			@media only screen and (max-width:800px) {
				font-size: 1em / $mobile-font-coefficient;
			}
		}

		&:hover {
			border-color: $xdark-gray;
			background-color: lighten($xdark-gray, 60);
		}
	}

	&--more {
		width: $button-min-width-tablet;
		height: $button-height-tablet;
		border-color: $white;
		border-radius: $button-height-tablet / 2;
		background-color: $white;
		text-transform: uppercase;
		font-size: $tablet-font-size-xxsmall;
		font-family: $font-bla;
		@media only screen and (max-width:800px) {
			font-size: $mobile-font-size-xxsmall;
		}

		&:before {
			display: inline-block;
			margin-top: -0.1em;
			margin-right: 10px;
			margin-left: -0.2em;
			width: 24px;
			height: 24px;
			color: $theme-color;
			content: '\e900';
			vertical-align: middle;
			font-size: 30px;
			font-family: icomoon;
			transition: all 0.7s ease-in-out;
			transform: rotate(-30deg);
			@media only screen and (max-width:800px) {
				font-size: 30px / $mobile-font-coefficient;
			}
		}

		&:hover {
			border-color: $theme-color;
			&:before {
				@media only screen and (min-width:801px) {
					transform: rotate(150deg);
				}
			}
		}
	}
}

.ico {
	position: relative;
	display: block;
	width: $ico-diameter;
	height: $ico-diameter;
	border: $button-border-width-mobile $button-fill $light-gray;
	border-radius: 50%;
	color: $light-gray;
	text-align: center;
	font-family: icomoon;
	transition: all $button-transition-time $button-transition-easing;

	&:before {
		@extend %cam;
	}

	&:hover {
		border-width: $button-border-width-mobile * 2;
		border-color: $theme-color-alt;
		color: $theme-color-alt;
	}
	&:active {
		box-shadow: inset 0 0 $ico-diameter / 10 $xdark-gray;
		transition: all 0.1s $button-transition-easing;
	}
}
