// Contact form
//-------------

.contact {
	margin: auto;
	max-width: 800px;

	&__form {
		margin-top: -7px;
	}
}

.form-section {
	display: inline-block;
	margin-right: -6px;
	width: 50%;
	border: none;
	vertical-align: top;
}

.usr-data {
	margin-top: -2px;
	padding: 0;
	padding-right: 20px;

	&__data {
		margin-bottom: 23px;
		padding-top: 7px;
		padding-bottom: 7px;
		width: 100%;
		border: none;
		border-bottom: 1px solid $light-gray;
		text-transform: uppercase;
		font-size: $tablet-font-size-xxsmall;
		font-family: $font-med;
		font-family: $font-bla;
		@media only screen and (max-width:800px) {
			font-size: $mobile-font-size-xxsmall;
		}

		&::-webkit-input-placeholder {
			color: $xdark-gray;
			font-family: $font-med;
		}
		&::-moz-placeholder          {
			color: $xdark-gray;
			font-family: $font-med;
		}/* Firefox 19+ */
		&:-moz-placeholder           {
			color: $xdark-gray;
			font-family: $font-med;
		}/* Firefox 18- */
		&:-ms-input-placeholder      {
			color: $xdark-gray;
			font-family: $font-med;
		}
	}
}

.form-options {
	margin-top: 27px;
	padding-bottom: 5px;
	border: 1px solid $light-gray;

	&__header {
		margin-bottom: 20px;
		padding: 19px;
		border-bottom: 1px solid $light-gray;
		font-size: $tablet-font-size-xxsmall;
		font-family: $font-med;
		@media only screen and (max-width:800px) {
			font-size: $mobile-font-size-xxsmall;
		}
	}

	&__list {
		list-style-type: none;
		font-size: $tablet-font-size-small;
		@media only screen and (max-width:800px) {
			font-size: $mobile-font-size-small;
		}
	}

}

.options-header {
	position: relative;

	&__headline:after {
		right: 0;
		display: block;
		margin-top: 2px;
		color: $light-gray;
		content: '\e902';
		font-weight: 600;
		font-size: 3em;
		font-family: icomoon;

		@extend %vam;
		@media only screen and (max-width:800px) {
			font-size: 3em / $mobile-font-coefficient;
		}
	}
}

.options-list-item {
	margin-bottom: 5px;
	color: $xdark-gray;
	line-height: 2em;
}

.form-option-check {
	position: absolute;
	left: 70px;
	width: 0;
	opacity: 0;

	&:checked + .form-option-description {
		color: $theme-color;

		&:before {
			border-color: $theme-color;
		}
	}
}

.form-option-description {
	cursor: pointer;
	transition: all $button-transition-time $transition-easing;
	transition: all $button-transition-time $transition-easing;

	@extend %list-marker;

	&:hover {
		color: $theme-color;

		&:before {
			border-color: $theme-color;
		}
	}

	&:before {
		margin-top: -0.2em;
		border-color: $light-gray;
		transition: all $button-transition-time $transition-easing;
	}
}

.message {
	padding-left: 18px;

	&__headline {
		text-transform: uppercase;
		font-size: $tablet-font-size-xxsmall;
		font-family: $font-med;
		@media only screen and (max-width:800px) {
			font-size: $mobile-font-size-xxsmall;
		}
	}
	&__text {
		margin-top: 6px;
		padding: 15px;
		min-height: 253px;
		width: 100%;
		border: 1px solid $light-gray;
		font-size: $tablet-font-size-medium;
		resize: vertical;
		@media only screen and (max-width:800px) {
			font-size: $mobile-font-size-medium;
		}
	}
}

.form-submit {
	padding: 39px 0;
	text-align: center;
}
