// Feadback
//---------


.feadback {
	padding-bottom: 15px;

	&__posts {
		padding-right: 1%;

		padding-left: 1%;
	}

	&__load-more {
		padding: 25px 0;
		text-align: center;
	}
}

.post {
	position: relative;
	display: inline-block;
	margin-right: -5px;
	padding: 3% 4%;
	width: 33%;
	vertical-align: top;

	&__content {
		&--text {
			$max-number-of-lines: 5;
			$line-height: 1.5em;

			overflow: hidden;
			max-height: $line-height * $max-number-of-lines;
			//NOTE '...' endings doesn't work properly with 'ellipsis'
			//		text-overflow: ellipsis;
			word-wrap: break-word;
			hyphens: auto;
			line-height: $line-height;

			@media only screen and (max-width:800px) {
				font-size: $mobile-font-size-medium;
			}
		}


		&--video {
			position: relative;
			overflow: hidden;
			margin-bottom: 9px;
			padding-top: 19px;
			height: 198px;
			text-align: center;

			img {
				@extend %ham;
			}
		}
	}

	&__play {
		margin-top: 2%;
		width: 40px;
		height: 40px;

		@extend %cam;
	}

	&__author {
		padding-top: 15px;
	}

	.author {
		&__avatar {
			display: block;
		}

		&__name {
			display: block;

			padding-top: 17px;
			font-size: $tablet-font-size-small;
			font-family: $font-bol;
			@media only screen and (max-width:800px) {
				font-size: $mobile-font-size-small;
			}
		}

		&__position {
			display: block;
			padding-top: 15px;
			font-size: $tablet-font-size-xsmall;
			@media only screen and (max-width:800px) {
				font-size: $mobile-font-size-xsmall;
			}
		}

		&__company:before {
			display: inline-block;
			margin-right: 4px;
			margin-left: 2px;
			width: 3px;
			height: 3px;
			border-radius: 50%;
			background-color: $theme-color;
			content: '';
			vertical-align: middle;
		}
	}

	&:before {
		position: absolute;
		font-family: icomoon;
	}

	&--text {
		&:before {
			top: 4%;

			color: $light-gray;
			content: '\e90a';
			font-size: $tablet-font-size-medium;
			@media only screen and (max-width:800px) {
				font-size: $mobile-font-size-medium;
			}
		}
	}

	&--video {
		&:before {
			top: 2%;
			width: 26px;
			height: 26px;
			border-radius: 50%;
			background-color: $light-gray;

			color: $white;
			content: '\e905';
			text-align: center;
			font-size: 20px;
			line-height: 30px;
			@media only screen and (max-width:800px) {
				font-size: 20px / $mobile-font-coefficient;
			}
		}
	}
}
