.fp-footer {
	text-align: center;

	&__end {
		padding-bottom: 10px;
		font-size: $tablet-font-size-xsmall;
		@media only screen and (max-width:800px) {
			font-size: $mobile-font-size-xsmall;
		}
	}
}

.adress {
	padding-top: 6px;

	&__headline {
		margin-bottom: 2em;
	}
	&__description {
		margin-top: 0;
		margin-bottom: 0.5em;
		font-size: $tablet-font-size-big;
		@media only screen and (max-width:800px) {
			font-size: $mobile-font-size-big;
		}
	}
	&__email {
		position: relative;
		display: inline-block;
		font-size: $tablet-font-size-big;
		transition: all $transition-time $transition-easing;
		@media only screen and (max-width:800px) {
			font-size: $mobile-font-size-big;
		}

		&:before,
		&:after {
			position: absolute;
			bottom: 0.1em;
			display: block;
			width: 50%;
			border-bottom: 1px solid $theme-color;
			content: '';
			transition: all $transition-time $transition-easing;
		}

		&:before {
			left: 0;
		}

		&:after {
			right: 0;
		}

		&:hover {
			color: $theme-color-alt;
		}

		&:hover:before,
		&:hover:after {
			width: 0;
		}
	}
}

.socials-list {
	padding: 10px 0;
	list-style: none;

	&__item {
		display: inline-block;
	}
}
