.fp-header {
	position: relative;
	padding-top: 47px;
	min-height: 670px;
	background: url(../img/jpg/header-bg.jpg) center bottom no-repeat, $xlight-gray;
	background-size: auto 100%;
}

.header-wrap {
	padding-left: 98px;
}

.main-nav {
	float: right;
	padding-right: 40px;
}

.main-nav-list,
.language {
	display: inline-block;
	vertical-align: middle;
}

.main-nav-list {
	padding-right: 117px;
	padding-left: 0px;
	list-style: none;
}

.nav-list-item {
	display: inline-block;
	padding-left: 25px;
}

.main-nav-list__item {
	color: $dark;
	font-size: $tablet-font-size-xsmall;
	font-family: $font-med;
	@media only screen and (max-width:800px) {
		font-size: $mobile-font-size-xsmall;
	}

	&:hover {
		color: $theme-color;
	}
}

.language {
	$diameter: 18px;
	$width: 67px;
	$height: 34px;
	$border-width: 2px;

	position: relative;
	width: $width;
	height: $height;
	border: $border-width solid $light-gray;
	border-radius: $height / 2;
	text-align: center;
	cursor: pointer;

	&:after {
		left: ($height - $diameter) / 2 - $border-width;
		display: block;
		width: $diameter;
		height: $diameter;
		border-radius: 50%;
		background-color: $light-gray;
		content: '';
		transition: all $transition-time $transition-easing;

		@extend %vam;
	}

	&-check {
		position: absolute;
		top: 0;
		left: -9999;
		opacity: 0;
	}

	&-check:checked + .language {
		&:after {
			left: ($height - $diameter) / 2 - $border-width * 2 + $width / 2;
		}
		.language__lang--main {
			opacity: 1;
		}
		.language__lang--alt {
			opacity: 0;
		}
	}

	&__lang {
		color: $theme-color;
		font-size: $tablet-font-size-xxsmall;
		font-family: $font-bla;
		line-height: $height - $border-width;
		transition: all $transition-time $transition-easing;
		@media only screen and (max-width:800px) {
			font-size: $mobile-font-size-xxsmall;
		}

		&--main {
			opacity: 0;
		}
		&--alt {
			padding-left: 5px;
		}
	}
}

.fp-header__content {
	padding-top: 55px;
}

.fp-header-text {
	&__headline {
		max-width: 33%;
	}

	.headline-underline {
		display: inline-block;
		margin-top: 11px;
		width: 40px;
		border-color: $theme-color;
	}

	&__description {
		padding-bottom: 10px;
		max-width: 42%;
		font-size: $tablet-font-size-medium;
		line-height: 24px;
		@media only screen and (max-width:800px) {
			font-size: $mobile-font-size-medium;
		}
	}

	.fp-header-text-btn {
		margin-top: 30px;
		margin-bottom: 50px;
		text-indent: -5px;

		&:before {
			position: relative;
			display: inline-block;
			padding-top: 3px;
			padding-right: 15px;
			content: '\e901';
			vertical-align: middle;
			font-weight: bold;
			font-size: 33px;
			font-family: icomoon;
			@media only screen and (max-width:800px) {
				font-size: 33px / $mobile-font-coefficient;
			}
		}
	}
}

.fp-header__play {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 90px;
	height: 90px;
	transform: translate(-50%, -50%);
}
