// Prices general
//---------------

.prices__content {
	position: relative;
	border-top: 1px solid $light-gray;
	border-bottom: 1px solid $light-gray;

	.top-section,
	.bottom-section {
		padding-top: 27px;
		padding-bottom: 27px;

		&:after {
			position: absolute;
			left: 50%;
			width: 1px;
			height: 40%;
			content: '';

			@extend %dotted-border-left;
		}
	}

	%after-line {
		position: absolute;
		z-index: 1;
		display: block;
		width: 1px;
		height: 40%;
		background-color: $theme-color;
		content: '';
	}

	%before-square {
		position: absolute;
		z-index: 2;
		display: block;
		width: 10px;
		height: 10px;
		border: 1px solid $theme-color;
		border-top-color: transparent;
		border-left-color: transparent;
		background-color: $white;
		content: '';
	}

	.top-section {
		@extend %dotted-border-bottom;

		.right-block .feature-more:after {
			top: 5%;
			right: 0;

			@extend %after-line;
		}

		.right-block .feature-more:before {
			top: 15%;
			right: -5px;
			transform: rotate(-45deg);

			@extend %before-square;
		}

		.left-block .feature-more:after {
			top: 5%;
			left: 0;

			@extend %after-line;
		}

		.left-block .feature-more:before {
			top: 15%;
			left: -5px;
			transform: rotate(135deg);

			@extend %before-square;
		}
	}

	.bottom-section {
		.right-block .feature-more:after {
			right: 0;
			bottom: 5%;

			@extend %after-line;
		}

		.right-block .feature-more:before {
			right: -5px;
			bottom: 35%;
			transform: rotate(-45deg);

			@extend %before-square;
		}

		.left-block .feature-more:after {
			bottom: 5%;
			left: 0;

			@extend %after-line;
		}

		.left-block .feature-more:before {
			bottom: 35%;
			left: -5px;
			transform: rotate(135deg);

			@extend %before-square;
		}
	}

	.left-block,
	.right-block {
		display: inline-block;
		margin-right: -5px;
		width: 49%;
		vertical-align: top;
	}

	.left-block {
		padding-right: 40px;
	}

	.right-block {
		padding-left: 26px;

		.feature-more {
			left: 0;
		}
	}
}

// Prices features
//----------------

.feature-content {
	padding-top: 18px;
	padding-left: /*168px*/ 30%;

	&__headline {
		position: relative;
		max-width: 85%;
		cursor: pointer;

		&:after {
			right: -37px;
			display: inline-block;
			box-sizing: border-box;
			width: 30px;
			height: 30px;
			border: 2px solid $theme-color;
			border-radius: 50%;
			content: 'i';
			text-align: center;
			text-transform: lowercase;
			line-height: 28px;
			transition: all $transition-time $transition-easing;

			@extend %vam;
		}

		&:before {
			left: -70px;
			color: $medium-gray;
			font-size: 2.6em;
			font-family: icomoon;
			transition: all $transition-time $transition-easing;

			@extend %vam;
			@media only screen and (max-width:800px) {
				font-size: 2.6em / $mobile-font-coefficient;
			}
		}

		&--1:before {
			content: '\e903';
		}
		&--2:before {
			content: '\e909';
		}
		&--3:before {
			content: '\e904';
		}
		&--4:before {
			content: '\e908';
		}

		&:hover {
			&:after {
			background-color: $theme-color;
			color: $white;
			}
			&:before {
				color: $theme-color;
			}
		}
	}

	&__prelist,
	&__list,
	&__description {
		margin-bottom: 0;
		font-size: $tablet-font-size-small;
		line-height: 20px;
		@media only screen and (max-width:800px) {
			font-size: $mobile-font-size-small;
		}
	}

	&__prelist {
		margin-bottom: 0;
	}
	&__list {
		margin-top: 0;
		padding-left: 25px;
		list-style: none;

		li {
			@extend %list-marker;
		}
	}
}

// Prices hidden content
//----------------------

.feature-more {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	z-index: 1;
	display: none;
	padding-top: 44px;
	width: 50%;
	background-color: $white;

	&__offer {
		padding-bottom: 15px;
	}

	.btn {
		margin-left: 23%;
	}
}

.offer-label,
.price-label {
	float: left;
	width: 23%;
	text-align: center;

	&__text {
		text-transform: uppercase;
		font-size: 10px;
		font-family: $font-bla;
		@media only screen and (max-width:800px) {
			font-size: 10px / $mobile-font-coefficient;
		}
	}
}

.offer-label {
	padding-top: 16px;
}

.price-label {
	margin-top: -5px;
}

.offer-content,
.price-content {
	margin-left: 23%;
}

.offer-content {
	&__headline {
		max-width: 65%;
	}
	&__description {
		margin-bottom: 20px;
		padding-top: 3px;
		padding-right: 20%;
		font-size: $tablet-font-size-small;
		line-height: 1.5em;
		@media only screen and (max-width:800px) {
			font-size: $mobile-font-size-small;
		}
	}
}

.content-block {
	float: left;
	margin-bottom: 30px;
	width: 28%;

	&__description {
		display: block;
		font-size: $tablet-font-size-xxsmall;
		@media only screen and (max-width:800px) {
			font-size: $mobile-font-size-xxsmall;
		}

		&:first-child {
			font-size: $tablet-font-size-small;
			@media only screen and (max-width:800px) {
				font-size: $mobile-font-size-small;
			}
		}
	}

	&__price {
		display: block;
		padding-top: 20px;
		font-size: $tablet-font-size-xxsmall;
		@media only screen and (max-width:800px) {
			font-size: $mobile-font-size-xxsmall;
		}

		.text-big {
			font-size: $tablet-font-size-big;
			@media only screen and (max-width:800px) {
				font-size: $mobile-font-size-big;
			}
		}
	}
}
