.wrap{
	margin: 0 auto;
	padding-right: 20px;
	padding-left: 20px;
	max-width: 1240px;
}

body {
	background-color: $body-background-color;
	color: $body-font-color;
	font-family: $body-font-family;
}

a {
	color: $theme-color;
	text-decoration: none;
	transition: all $transition-time $transition-easing;
}

h1,
h3,
h4,
h5, {
	font-family: GothamPro-Bold;
}

h1 {
	font-size: $tablet-font-size-xxbig;
	@media only screen and (max-width:800px) {
		font-size: $mobile-font-size-xxbig;
	}
}

h3,
h4,
h5, {
	text-transform: uppercase;
}

h3 {
	font-size: $tablet-font-size-xbig;
	@media only screen and (max-width:800px) {
		font-size: $mobile-font-size-xbig;
	}
}

h4 {
	font-size: $tablet-font-size-medium;
	line-height: 1.3em;
	@media only screen and (max-width:800px) {
		font-size: $mobile-font-size-medium;
	}
}

h5 {
	font-size: $tablet-font-size-xxsmall;
	@media only screen and (max-width:800px) {
		font-size: $mobile-font-size-xxsmall;
	}
}

input,
textarea {
	&::-webkit-input-placeholder { transition: color $transition-time $transition-easing;
	}
	:-moz-placeholder { transition: color $transition-time $transition-easing;
	} /* FF 4-18 */
	&:focus::-moz-placeholder { transition: color $transition-time $transition-easing;
	} /* FF 19+ */
	&:focus:-ms-input-placeholder { transition: color $transition-time $transition-easing;
	} /* IE 10+ */

	&:focus {
		outline: none;

		&::-webkit-input-placeholder { color:transparent; }
		:-moz-placeholder { color:transparent; } /* FF 4-18 */
		&:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
		&:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
	}
}

.text-strong {
	font-family: $font-bol;
}


// Monotype sections headers
//--------------------------

.section-header {
	margin: 53px auto 60px;
	max-width: 600px;
	text-align: center;
}

.section-header__headline {
	margin-bottom: 14px;
}

.section-header__underline {
	width: 40px;
	border-color: $theme-color;
}

.section-header__description {
	font-size: $tablet-font-size-medium;
	@media only screen and (max-width:800px) {
		font-size: $mobile-font-size-medium;
	}
}
