%ibt {
	display: inline-block;
	vertical-align: top;
}
%ibm {
	display: inline-block;
	vertical-align: middle;
}

%before {
	position: absolute;
	display: block;
	content: '';
}

%table{
	display: table;
	width: 100%;
	font-size: 0 !important;
}

%fullsize{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
//----------------центрирование-----------------------
%vam{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

%ham{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

%cam{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
//----------------------
%hov-opacity{
	transition: all $transition-time $transition-easing;
	&:hover{
		opacity: 0.8;
	}
}
//-----------------
%text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
//-----------animation--------------
%anim_hide {
	visibility: hidden;
	margin-top: 30px;
	opacity: 0;
	transition: margin $transition-time ease,
	            visibility $transition-time ease,
	            opacity $transition-time ease-in-out;
}

%anim_show {
	visibility: visible;
	margin-top: 0;
	opacity: 1;
}


%dotted-border-bottom {
	background-image: linear-gradient(to right, $light-gray 33%, rgba(255,255,255,0) 0%);
	background-position: bottom;
	background-size: 5px 1px;
	background-repeat: repeat-x;
}

%dotted-border-right {
	background-image: linear-gradient($light-gray 33%, rgba(255,255,255,0) 0%);
	background-position: right;
	background-size: 1px 5px;
	background-repeat: repeat-y;
}

%dotted-border-left {
	background-image: linear-gradient($light-gray 33%, rgba(255,255,255,0) 0%);
	background-position: left;
	background-size: 1px 5px;
	background-repeat: repeat-y;
}

%list-marker {
	position: relative;

	&:before {
		position: relative;
		left: -18px;
		display: block;
		display: inline-block;
		box-sizing: border-box;
		margin-left: -7px;
		width: 7px;
		height: 7px;
		border: 2px solid $theme-color;
		border-radius: 50%;
		content: '';
		vertical-align: middle;
	}
}

