@include font-face(GothamPro-MediumItalic, "GothamPro-MediumItalic", medium, italic);

@include font-face(GothamPro-Medium, "GothamPro-Medium", medium, normal);

@include font-face(GothamPro-LightItalic, "GothamPro-LightItalic", light, italic);

@include font-face(GothamPro-Light, "GothamPro-Light", light, normal);

@include font-face(GothamPro-Italic, "GothamPro-Italic", normal, italic);

@include font-face(GothamPro-BoldItalic, "GothamPro-BoldItalic", bold, italic);

@include font-face(GothamPro-Bold, "GothamPro-Bold", bold, normal);

@include font-face(GothamPro-BlackItalic, "GothamPro-BlackItalic", black, italic);

@include font-face(GothamPro-Black, "GothamPro-Black", black, normal);

@include font-face(GothamPro, "GothamPro");


// Icons
//------

@include font-face(icomoon, "icomoon");

[class^="icon-"], [class*=" icon-"] {
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	line-height: 1;

	speak: none;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
	content: "\ea90";
}
.icon-twitter:before {
	content: "\ea96";
}
.icon-linkedin:before {
	content: "\1f312";
}
.icon-quotes:before {
	content: "\e90a";
}
.icon-arr-circle:before {
	content: "\e900";
}
.icon-arr-down:before {
	content: "\e901";
}
.icon-arr-up:before {
	content: "\e902";
}
.icon-doc:before {
	content: "\e903";
}
.icon-list:before {
	content: "\e904";
}
.icon-video-ico:before {
	content: "\e905";
}
.icon-play1:before {
	content: "\e906";
}
.icon-play2:before {
	content: "\e907";
}
.icon-sud:before {
	content: "\e908";
}
.icon-target:before {
	content: "\e909";
}
