{{> header}}

<main class="fp-main">
	<div class="wrap">
		<section class="prices" id="prices">
			<div class="section-header">
				<h3 class="section-header__headline">услуги и цены</h3>

				<hr class="section-header__underline">

				<p class="section-header__description"><strong class="text-strong">Pravo agency</strong> выполняет роль юристов-аутсорсеров, надежно прикрывая правовой тыл вашей деятельности.</p>
				<!--.section-header-->
			</div>

			<div class="prices__content">
				<div class="top-section">
					<div class="left-block">
						<div class="feature-content">
							<h4 class="	feature-content__headline feature-content__headline--1 js-feature-content__headline-1">Наведение порядка <br /> в делах</h4>

							<p class="feature-content__prelist">Аудит документов и платежей на предмет:</p>

							<ul class="feature-content__list">
								<li>соблюдения необходимых формальностей и процедур,</li>
								<li>наличия всех оригиналов договоров, актов,</li>
								<li>легализация зависших платежей.</li>
							</ul>
							<!--.feature-content-->
						</div>

						<div class="feature-more js-feature-more-1">
							<div class="feature-more__offer">
								<div class="offer-label">
									<span class="offer-label__text">услуга</span>
								</div>

								<div class="offer-content">
									<h4 class="offer-content__headline">Оптимизация договорных отношений</h4>

									<p class="offer-content__description">Борьба внутри меня, и я был в самых разных ситуациях в моей жизни. <strong class="text-strong">Таким образом, борьба, что у меня на постоянной основе, это просто пробовать и быть лучше.</strong></p>

									<p class="offer-content__description">Есть определенная разница между публичным человеком и обычным человеком, это как сойти с ума - для меня во всяком случае - открыть себя целиком для всего мира.</p>
								</div>
							</div>

							<div class="feature-more__price">
								<div class="price-label">
									<span class="offer-label__text">Цена</span>
								</div>

								<div class="price-content">
									<div class="content-block">
										<span class="content-block__description"><strong class="text-strong">&lt; 50</strong></span>

										<span class="content-block__description">Сотрудников</span>

										<span class="content-block__price">от <strong class="text-strong"><span class="text-big">5000 </span>грн.</strong></span>
									<!--.content-block-->
									</div>

									<div class="content-block">
										<span class="content-block__description"><strong class="text-strong">50-100</strong></span>

										<span class="content-block__description">Сотрудников</span>

										<span class="content-block__price">от <strong class="text-strong"><span class="text-big">15000 </span>грн.</strong></span>
									<!--.content-block-->
									</div>

									<div class="content-block">
										<span class="content-block__description"><strong class="text-strong">&gt; 100</strong></span>

										<span class="content-block__description">Сотрудников</span>

										<span class="content-block__price">от <strong class="text-strong"><span class="text-big">25000 </span>грн.</strong></span>
									<!--.content-block-->
									</div>
								<!--.price-content-->
								</div>

								<a href="#" class="btn btn--main btn--small">заказать</a>
							<!--.feature-more__price-->
							</div>
						<!--.feature-more-->
						</div>
					<!--.left-block-->
					</div>

					<div class="right-block">
						<div class="feature-content">
							<h4 class="feature-content__headline feature-content__headline--2 js-feature-content__headline-2">Оптимизация <br /> договорных отношений</h4>

							<ul class="feature-content__list">
								<li>Доработка, латание дыр и улучшение условий основных типовых договоров вашей компании</li>
								<li>Оформление сотрудников на оптимальных условиях ведения деятельности и налогообложения</li>
								<li>Составление договоров, соглашений о конфиденциальности, публичных офферт</li>
							</ul>
							<!--.feature-content-->
						</div>

						<div class="feature-more js-feature-more-2">
							<div class="feature-more__offer">
								<div class="offer-label">
									<span class="offer-label__text">услуга</span>
								</div>

								<div class="offer-content">
									<h4 class="offer-content__headline">Оптимизация договорных отношений</h4>

									<p class="offer-content__description">Борьба внутри меня, и я был в самых разных ситуациях в моей жизни. <strong class="text-strong">Таким образом, борьба, что у меня на постоянной основе, это просто пробовать и быть лучше.</strong></p>

									<p class="offer-content__description">Есть определенная разница между публичным человеком и обычным человеком, это как сойти с ума - для меня во всяком случае - открыть себя целиком для всего мира.</p>
								</div>
							</div>

							<div class="feature-more__price">
								<div class="price-label">
									<span class="offer-label__text">Цена</span>
								</div>

								<div class="price-content">
									<div class="content-block">
										<span class="content-block__description"><strong class="text-strong">&lt; 50</strong></span>

										<span class="content-block__description">Сотрудников</span>

										<span class="content-block__price">от <strong class="text-strong"><span class="text-big">5000 </span>грн.</strong></span>
										<!--.content-block-->
									</div>

									<div class="content-block">
										<span class="content-block__description"><strong class="text-strong">50-100</strong></span>

										<span class="content-block__description">Сотрудников</span>

										<span class="content-block__price">от <strong class="text-strong"><span class="text-big">15000 </span>грн.</strong></span>
										<!--.content-block-->
									</div>

									<div class="content-block">
										<span class="content-block__description"><strong class="text-strong">&gt; 100</strong></span>

										<span class="content-block__description">Сотрудников</span>

										<span class="content-block__price">от <strong class="text-strong"><span class="text-big">25000 </span>грн.</strong></span>
										<!--.content-block-->
									</div>
									<!--.price-content-->
								</div>

								<a href="#" class="btn btn--main btn--small">заказать</a>
								<!--.feature-more__price-->
							</div>
							<!--.feature-more-->
						</div>
						<!--.right-block-->
					</div>
				<!--.top-section-->
				</div>

				<div class="bottom-section">
					<div class="left-block">
						<div class="feature-content">
							<h4 class="feature-content__headline feature-content__headline--3 js-feature-content__headline-3">Правовое сопровождение <br /> деятельности (юрист-аутсорсер)</h4>

							<ul class="feature-content__list">
								<li>Участие в заключении договоров: минимизация рисков, усиление ваших позиций</li>
								<li>Юридическая консультация</li>
								<li>Дайджест предпринимательских ИТ-новостей с разъяснениями</li>
								<li>Представительство интересов в судах</li>
							</ul>
							<!--.feature-content-->
						</div>

						<div class="feature-more js-feature-more-3">
							<div class="feature-more__offer">
								<div class="offer-label">
									<span class="offer-label__text">услуга</span>
								</div>

								<div class="offer-content">
									<h4 class="offer-content__headline">Оптимизация договорных отношений</h4>

									<p class="offer-content__description">Борьба внутри меня, и я был в самых разных ситуациях в моей жизни. <strong class="text-strong">Таким образом, борьба, что у меня на постоянной основе, это просто пробовать и быть лучше.</strong></p>

									<p class="offer-content__description">Есть определенная разница между публичным человеком и обычным человеком, это как сойти с ума - для меня во всяком случае - открыть себя целиком для всего мира.</p>
								</div>
							</div>

							<div class="feature-more__price">
								<div class="price-label">
									<span class="offer-label__text">Цена</span>
								</div>

								<div class="price-content">
									<div class="content-block">
										<span class="content-block__description"><strong class="text-strong">&lt; 50</strong></span>

										<span class="content-block__description">Сотрудников</span>

										<span class="content-block__price">от <strong class="text-strong"><span class="text-big">5000 </span>грн.</strong></span>
										<!--.content-block-->
									</div>

									<div class="content-block">
										<span class="content-block__description"><strong class="text-strong">50-100</strong></span>

										<span class="content-block__description">Сотрудников</span>

										<span class="content-block__price">от <strong class="text-strong"><span class="text-big">15000 </span>грн.</strong></span>
										<!--.content-block-->
									</div>

									<div class="content-block">
										<span class="content-block__description"><strong class="text-strong">&gt; 100</strong></span>

										<span class="content-block__description">Сотрудников</span>

										<span class="content-block__price">от <strong class="text-strong"><span class="text-big">25000 </span>грн.</strong></span>
										<!--.content-block-->
									</div>
									<!--.price-content-->
								</div>

								<a href="#" class="btn btn--main btn--small">заказать</a>
								<!--.feature-more__price-->
							</div>
							<!--.feature-more-->
						</div>
						<!--.left-block-->
					</div>

					<div class="right-block">
						<div class="feature-content">
							<h4 class="feature-content__headline feature-content__headline--4 js-feature-content__headline-4">Разработка договоров <br /> и другой документации</h4>

							<p class="feature-content__description">К сожалению, конфликты бывают в любой сфере. Если дело близится к суду или уже дошло до него, мы поможем отстоять ваши права и интересы.</p>
							<!--.feature-content-->
						</div>

						<div class="feature-more js-feature-more-4">
							<div class="feature-more__offer">
								<div class="offer-label">
									<span class="offer-label__text">услуга</span>
								</div>

								<div class="offer-content ">
									<h4 class="offer-content__headline">Оптимизация договорных отношений</h4>

									<p class="offer-content__description">Борьба внутри меня, и я был в самых разных ситуациях в моей жизни. <strong class="text-strong">Таким образом, борьба, что у меня на постоянной основе, это просто пробовать и быть лучше.</strong></p>

									<p class="offer-content__description">Есть определенная разница между публичным человеком и обычным человеком, это как сойти с ума - для меня во всяком случае - открыть себя целиком для всего мира.</p>
								</div>
							</div>

							<div class="feature-more__price">
								<div class="price-label">
									<span class="offer-label__text">Цена</span>
								</div>

								<div class="price-content">
									<div class="content-block">
										<span class="content-block__description"><strong class="text-strong">&lt; 50</strong></span>

										<span class="content-block__description">Сотрудников</span>

										<span class="content-block__price">от <strong class="text-strong"><span class="`">5000 </span>грн.</strong></span>
										<!--.content-block-->
									</div>

									<div class="content-block">
										<span class="content-block__description"><strong class="text-strong">50-100</strong></span>

										<span class="content-block__description">Сотрудников</span>

										<span class="content-block__price">от <strong class="text-strong"><span class="text-big">15000 </span>грн.</strong></span>
										<!--.content-block-->
									</div>

									<div class="content-block">
										<span class="content-block__description"><strong class="text-strong">&gt; 100</strong></span>

										<span class="content-block__description">Сотрудников</span>

										<span class="content-block__price">от <strong class="text-strong"><span class="text-big">25000 </span>грн.</strong></span>
										<!--.content-block-->
									</div>
									<!--.price-content-->
								</div>

								<a href="#" class="btn btn--main btn--small">заказать</a>
								<!--.feature-more__price-->
							</div>
							<!--.feature-more-->
						</div>
						<!--.right-block-->
					</div>
					<!--.bottom-section-->
				</div>
				<!--.prices__content-->
			</div>
			<!--.prices-->
		</section>

		<section class="feadback" id="feadback">
			<div class="section-header">
				<h3 class="section-header__headline">отзывы</h3>

				<hr class="section-header__underline">

				<p class="section-header__description">Мнение наших клиентов <strong class="text-strong">делает мир и нас лучше :)</strong></p>
				<!--section-header-->
			</div>

			<div class="feadback__posts">
				<div class="post post--text">
					<p class="post__content post__content--text">Главная тема для меня – любовь. Мы все хотим ее, но не знаем как получить, поэтому все, что мы делаем, — это всего лишь попытки найти счастье.</p>

					<div class="post__author">
						<div class="author">
							<img src="assets/img/png/Ava-1.png" alt="Author's photo" class="author__avatar">
							<span class="author__name">Алексей Фёдоров</span>
							<span class="author__position">CEO <strong class="text-strong author__company"> deco.agency</strong></span>
							<!--.author-->
						</div>
						<!--.post__author-->
					</div>
					<!--.post .post--text-->
				</div>

				<div class="post post--text">
					<p class="post__content post__content--text">Главная тема для меня – любовь. Мы все хотим ее, но не знаем как получить, поэтому все, что мы делаем, — это всего лишь попытки найти счастье.</p>

					<div class="post__author">
						<div class="author">
							<img src="assets/img/png/Ava-2.png" alt="Author's photo" class="author__avatar">
							<span class="author__name">Артур Оруджалиев</span>
							<span class="author__position">CEO <strong class="text-strong author__company"> AIN.ua</strong></span>
							<!--.author-->
						</div>
						<!--.post__author-->
					</div>
					<!--.post .post--text-->
				</div>

				<div class="post post--video">
					<div class="post__content post__content--video">
						<img src="assets/img/jpg/video.jpg" alt="" height="100%" align="middle">
						<div class="post__play">
							<button class="btn btn--play-alt"></button>
						</div>
					</div>

					<div class="post__author">
						<div class="author">
							<!-- <img src="assets/img/png/Ava-2.png" alt="Author's photo" class="author__avatar"> --> <!--//NOTE Maybe not needed-->
							<span class="author__name">Григорий Маленко</span>
							<span class="author__position">CEO <strong class="text-strong author__company"> AIN.ua</strong></span>
							<!--.author-->
						</div>
						<!--.post__author-->
					</div>
					<!--.post .post--video-->
				</div>
				<!--.feadback__posts-->
			</div>

			<div class="feadback__load-more">
				<button class="btn btn--more">Загрузить еще</button>
			</div>
			<!--.feadback-->
		</section>

		<section class="contact" id="contact">
			<div class="section-header">
				<h3 class="section-header__headline">запрос на услуги</h3>

				<hr class="section-header__underline">
				<!--section-header-->
			</div>

			<form action="" method="post" class="contact__form">
				<fieldset class="form-section usr-data">
					<input type="text" name="usr-data__name" id="usr-data__name" class="usr-data__data" placeholder="ИMЯ*" autocomplete required>
					<input type="tel" name="usr-data__tel" id="usr-data__tel" class="usr-data__data" placeholder="ТЕЛЕФОН*">
					<input type="email" name="usr-data__mail" id="usr-data__mail" class="usr-data__data" placeholder="E-MAIL*">
					<input type="url" name="usr-data__site" id="usr-data__site" class="usr-data__data" placeholder="САЙТ">

					<div class="form-options">
						<div class="form-options__header">
							<div class="options-header">
								<span class="options-header__headline">МЕНЯ ИНТЕРЕСУЕТ</span>
							</div>
						</div>

						<ul class="form-options__list">
							<li class="options-list-item">
								<input type="radio" name="form-option-check" id="form-option-1" class="form-option-check" value="option-1" required>

								<label for="form-option-1" class="form-option-description">Наведение порядка в делах</label>
							</li>

							<li class="options-list-item">
								<input type="radio" name="form-option-check" id="form-option-2" class="form-option-check" value="option-2" required>

								<label for="form-option-2" class="form-option-description">Правовое сопровождение деятельности</label>
							</li>

							<li class="options-list-item">
								<input type="radio" name="form-option-check" id="form-option-3" class="form-option-check" value="option-3" required>

								<label for="form-option-3" class="form-option-description">Оптимизация договорных отношений</label>
							</li>

							<li class="options-list-item">
								<input type="radio" name="form-option-check" id="form-option-4" class="form-option-check" value="option-4" required>

								<label for="form-option-4" class="form-option-description">Разработка договоров</label>
							</li>
							<!--.form-options__list-->
						</ul>
					<!--.form-options-->
					</div>
					<!--.usr-data-->
				</fieldset>

				<label class="form-section message">
					<span class="message__headline">Дополнительная информация</span>

					<textarea name="form-message" id="form-message" class="message__text" placeholder="Введите текст ..."></textarea>
				</label>

				<div class="form-submit">
					<input type="submit"  value="отправить"  class="btn btn--main">
				</div>
				<!--.contact__form-->
			</form>
			<!--.contact-->
		</section>
		<!--.wrap-->
	</div>
</main>

{{> footer}}
