<footer class="fp-footer">
	<div class="adress">
		<h5 class="adress__headline">PRAVO AGENCY:</h5>

		<p class="adress__description">01001, Киев, ул.Костёльная 9, оф.8</p>

		<p class="adress__description">+380 (67) 324 10 10</p>

		<a href="mailto:hello@pravo.agency" class="adress__email">hello@pravo.agency</a>
	</div>

	<div class="socials">
		<ul class="socials-list">
			<li class="socials-list__item"><a href="" class="ico icon-facebook"></a></li>
			<li class="socials-list__item"><a href="" class="ico icon-twitter"></a></li>
			<li class="socials-list__item"><a href="" class="ico icon-linkedin"></a></li>
		</ul>
	</div>

	<p class="fp-footer__end">© 2015, <strong class="text-strong">Pravo agency</strong></p>
	<!--.fp-footer-->
</footer>
