<header class="fp-header">
	<div class="wrap">
		<div class="header-wrap">
			<a class="main-logo" href="#"><img src="assets/img/png/Logo.png" alt="Logo"></a>

			<nav class="main-nav">
				<ul class="main-nav-list">
					<li class="nav-list-item">
						<a href="#prices" class="main-nav-list__item js-scroll-to">УСЛУГИ И ЦЕНЫ</a>
					</li>
					<li class="nav-list-item">
						<a href="#feadback" class="main-nav-list__item js-scroll-to">ОТЗЫВЫ</a>
					</li>
					<li class="nav-list-item">
						<a href="#contact" class="main-nav-list__item js-scroll-to">КОНТАКТЫ</a>
					</li>
					<div class="main-nav-list__helper"></div> <!--#NOTE Maybe not require-->
				</ul>

				<input type="checkbox" id="language-check" class="language-check">

				<label for="language-check" class="language">
					<span class="language__lang language__lang--main">EN </span>
					<span class="language__lang language__lang--alt">RU </span>
				</label>
				<!-- .main-nav -->
			</nav>

			<div class="fp-header__content">
				<div class="fp-header-text">
					<h1 class="fp-header-text__headline">Правовое сопровождение малого ИТ-бизнеса</h1>

					<hr class="headline-underline">

					<p class="fp-header-text__description">Зачастую интернет-проекты, разработчики, маркетологи, дизайнеры, стартаперы и другие IT-специалисты не уделяют должного внимания правовым аспектам своей деятельности.</p>

					<p class="fp-header-text__description">Но <strong class="text-strong">документы должны быть в порядке</strong>, и мы в этом поможем.</p>

					<a href="#" class="fp-header-text-btn btn btn--main">услуги и цены</a>
				</div>
				<!-- .fp-header__content -->
			</div>

			<div class="fp-header__play">
				<button class="btn btn--play-main"></button>
			</div>
			<!--.header-wrap-->
		</div>
		<!-- .wrap -->
	</div>
	<!-- .fp-header -->
</header>
